
* {
  box-sizing: border-box;
}

/**** Base Styles ****/

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  background-image: url("http://wallpapercave.com/wp/qd96rH3.jpg");
  background-position: bottom;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

header {
  position: relative;
}

h1 {
  color: #fff;
  font-family: 'Chewy', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
}

nav {
  display: none;
}

/**** Layout Styles ****/

.wrapper {
  width: 100%;
  height: 100%;
}

.mobile-menu {
  background-color: #212D53;
  padding: 10px 0;
}

.bell-icon,
.flag-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.menu-icon {
  padding: 0 0 0 8px;
  height: 25;
  width: 35px;
}

.bell-icon {
  position: absolute;
  right: 45px;
}

.flag-icon {
  position: absolute;
  right: 8px;
  border-radius: 50%;
}

.icon {
  display: inline-block;
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

/**** Main Content Section ****/

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.player-card {
  margin: 10px;
  min-width: 250px;
  max-width: 400px;
  background-color: #fff;
}

/**** Player Card Styles ****/

.inner-content {
  display: flex;
  padding: 10px 15px;
  align-items: center;
}

.headshot-wrap {
  margin-right: 15px;
  padding: 10px;
}

.headshot {
  height: 125px;
  width: 125px;
  border: 3px solid #ECEEED;
  border-radius: 50%;
}

.category {
  margin: 0;
  padding: 2.5px 0;
  background-color: #ECEEED;
  color: #5E5E5E;
  text-align: center;
  text-transform: uppercase;
}

.stat-number {
  margin: 10px 0 -10px -10px;
  color: #538CB7;
  font-size: 4em;
}

.primary-stat {
  margin: 0;
  color: #7C9CA9;
}

.secondary-stat {
  margin: 0;
  color: #5E5E5E;
}

.name {
  margin: 0;
  padding: 5px 0;
  border-top: 1px solid #ECEEED;
  color: #5E5E5E;
  text-align: center;
}

.last-name {
  text-transform: uppercase;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
